.header {
    width: 1000px;
    margin-bottom: 20px;
}

.header input{
    background:	#484848 ;
}

.wrap {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    width: 100%;
    background:	#202020 ;
}

.wrap a {
    text-decoration: none;
    color: #3d5c5c;
    font-size: 40px;

}

.wrap button {
    background: none;
    border: none;
    font-size: 20px;

}

#wrap{
    background: #e1eaea;
}

#wrap input{
    background: snow;
}

.genre button {
    width: 10%;
    height: 40px;
    border: none;
    font-family: system-ui;
    font-size: 16px;
    background:#484848;
    color: snow;
}

.genre button:hover {
    color: gold;
    cursor: pointer;
}

#genre button {
    background: #a3c2c2;
    color: black;
}

#genre button:hover {
    color: gold;
}




